/*
|--------------------------------------------------------------------------
|                                FOUR BLOCK GRID
|--------------------------------------------------------------------------
*/

  section#four-block-grid {

    a:hover {
      text-decoration: none;
    }


    .four-block-grid-block-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 25vh;
      margin-top: 40px;
      transition: all 0.3s;
      // background: rgba(0,0,0,.8);
      // border: 5px solid red;

      &:hover {
        border-radius: 15px;
        transition: all 0.3s;
      }
    }

    .four-block-grid-block-wrapper h5 {
      font-weight: 300;
      padding: 10px 0;
      font-size: 1.5rem;
    }

    .four-block-grid-block-wrapper i {
      font-size: 2.5rem;
    }

    /* CURRICULUM
    =======================*/

    .four-grid-curriculum {
      background: #a0aa95;
      outline: 5px solid #a0aa95;
      outline-offset: 10px;

      i, h5 {
        color: #fff;
        transition: all 0.3s
      }
    }

    .four-grid-curriculum-hover {
      i, h5 {
        color: #fff;
        transition: all 0.3s
      }
    }


    /* BLOG
    =======================*/

    .four-grid-blog {
      background: #b3cecd;
      outline: 5px solid #b3cecd;
      outline-offset: 10px;

      i, h5 {
        color: #fff;
      }
    }

    .four-grid-blog-hover {
      i, h5 {
        color: #fff;
        transition: all 0.3s
      }
    }


    /* STUDENT PROJECTS
    =======================*/

    .four-grid-student-projects {
      background: #c5c2be;
      outline: 5px solid #c5c2be;
      outline-offset: 10px;

      i, h5 {
        color: #fff;
      }
    }

    .four-grid-student-projects-hover {
      i, h5 {
        color: #fff;
        transition: all 0.3s
      }
    }


    /* BUSINESS PLAN
    =======================*/

    .four-grid-business-plan {
      background: #a8babc;
      outline: 5px solid #a8babc;
      outline-offset: 10px;

      i, h5 {
        color: #fff;
      }
    }

    .four-grid-business-plan-hover {
      i, h5 {
        color: #fff;
        transition: all 0.3s
      }
    }

  } /* section#four-block-grid */




/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  section#four-block-grid {

    .col-sm-12 {
      padding: 5px 20px;
    }
  }

  .four-block-grid-block-wrapper {
      height: 15vh !important;
      margin-top: 30px !important;

      &:hover {
        border-radius: 15px;
        transition: all 0.3s;
      }
    }

  .four-grid-curriculum {
    margin-top: 20px !important;
  }

}/* MEDIUM MEDIA QUERY */
