/*
|--------------------------------------------------------------------------
|                                 ANNIE CANNONS
|--------------------------------------------------------------------------
*/

  section#annie-cannons {
    height: 50vh;
    overflow: hidden;
    // background: url('../images/annie-cannon/portrait.jpg');
    background: url('../images/annie-cannon-blurb/rocket.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    // border: 5px solid red;

    .annie-cannon-bio-wrapper {
      width: 50%;
      margin: 0 auto;
      background: rgba(255,255,255, 0.9);
      outline: 5px solid rgba(255,255,255, 0.9);
      outline-offset: 5px;
      padding: 2%;
      // border: 5px solid gold;

      p {
      color: #444;
      font-weight: 300;
      font-size: responsive;
      letter-spacing: .5px;
      }
    }

  } /* section#annie-cannons */



/*
|--------------------------------------------------------------------------
|                      TABLET MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  section#annie-cannons {

    .col-sm-12 {
      padding: 0;
    }

    height: 40vh;
    // background: url('../images/annie-cannon/portrait.jpg');
    background: url('../images/annie-cannon-blurb/rocket.jpg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: cover;
    background-position: top !important;
    display: flex;
    align-items: center;
    // border: 5px solid red;

    .annie-cannon-bio-wrapper {
      width: 80%;
      margin: 0 auto;
      background: rgba(255,255,255, 0.9);
      outline: 5px solid rgba(255,255,255, 0.9);
      outline-offset: 5px;
      padding: 4;
      // border: 5px solid gold;

      p {
      color: #444;
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: .2px;
      }
    }

  } /* section#annie-cannons */

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#annie-cannons {

    height: 100vh !important;
    // background: url('../images/annie-cannon/portrait.jpg');
    background: url('../images/annie-cannon-blurb/rocket.jpg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: cover;
    background-position: top !important;
    display: flex;
    align-items: center;
    // border: 5px solid red;

    .annie-cannon-bio-wrapper {
      width: 100%;
      padding: 2% !important;
      // border: 5px solid gold;

      p {
      color: #444;
      font-weight: 300;
      font-size: 0.9rem !important;
      letter-spacing: 0.2px;
      }
    }

  } /* section#annie-cannons */

}/* SMALL MEDIA QUERY */
