/*
|--------------------------------------------------------------------------
|                                 GET INVOLVED
|--------------------------------------------------------------------------
*/


    .get-involved-header-container {
      padding: 60px 0;
      position: relative;
      // border: 2px solid goldenrod;
    }

    .get-involved-header-container h4 {
      z-index: 99;
      font-weight: 100;
      margin: 0 auto;
      background: #fff;
      width: 15%;
      // padding: 0 10px;
      // border: 1px solid blue;
    }

    .get-involved-section-header-line {
      z-index: -1;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;

    }



  section#get-involved {
    padding: 50px 25px;
    background: #fbfbfb;
    background: url('../images/get-involved/outstretched-arm2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border: 3px solid green;

    a {
      color: black;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }



    .get-involved-logo-container  {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60vh;
      // margin-top: 15%;
      // border: 3px dashed coral;

      img {
        width: 50%;
      }
    }

    .get-involved-container {
      padding: 40px 20px;
      text-align: center;
      // border: 5px solid red;
    }

    .get-involved-icon {
      padding-bottom: 10px;

      i {
        font-size: 2rem;
      }
    }

    .get-involved-header-title-hover {
      color: #fff;
      transition: all 1s;
    }

    .get-involved-copy {
      text-align: center;

      p {
        font-weight: 300;
      }
    }




    /* TRAFFICKING CONTAINER
    ==============================*/

    .trafficking-container {
      // border-right: 1px solid rgba(255,255,255,0.6);
      // border-bottom: 1px solid rgba(255,255,255,0.6);
      margin-bottom: 40px;
      background: rgba(255,255,255,0.6);
      transition: all 1s;
    }

    .trafficking-container-hover {
      background: #a0aa95;
      color: #fff !important;
      transition: all 1s;
    }

    .trafficking-title {
      font-weight: 200;
      transition: all 1s;
    }

    .trafficking-title-hover {
      font-weight: 200;
      color: #fff !important;
      transition: all 1s;
    }




    /* DONATE CONTAINER
    ==============================*/

    .donate-container {
      // border-right: 1px solid rgba(255,255,255,0.6);
      // border-bottom: 1px solid rgba(255,255,255,0.6);
      background: rgba(255,255,255,0.6);
      transition: all 1s;
    }

    .donate-container-hover {
      background: #a8babc;
      color: #fff !important;
      transition: all 1s;
    }

    .donate-title {
      font-weight: 200;
      transition: all 1s;
    }

    .donate-title-hover {
      font-weight: 200;
      color: #fff !important;
      transition: all 1s;
    }




    /* VOLUNTEER CONTAINER
    ==============================*/

    .volunteer-container {
      // border-left: 1px solid rgba(255,255,255,0.6);
      // border-bottom: 1px solid rgba(255,255,255,0.6);
      background: rgba(255,255,255,0.6);
      margin-bottom: 40px;
      transition: all 1s;
    }

    .volunteer-container-hover {
      background: #c5c2be;
      color: #fff !important;
      transition: all 1s;
    }

    .volunteer-title {
      font-weight: 200;
      transition: all 1s;
    }

    .volunteer-title-hover {
      font-weight: 200;
      color: #fff !important;
      transition: all 1s;
    }




    /* HIRE CONTAINER
    ==============================*/

    .hire-container {
      // border-left: 1px solid rgba(255,255,255,0.6);
      // border-bottom: 1px solid rgba(255,255,255,0.6);
      background: rgba(255,255,255,0.6);
      transition: all 1s;
    }

    .hire-container-hover {
      background: #b3cecd;
      color: #fff !important;
      transition: all 1s;
    }

    .hire-title {
      font-weight: 200;
      transition: all 1s;
    }

    .hire-title-hover {
      font-weight: 200;
      color: #fff !important;
      transition: all 1s;
    }


  } /* section#get-involved */





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .get-involved-header-container h4 {
    font-size: 2rem;
    width: 30%;
  }

  .get-involved-center-column {
    display: none;
  }

  .donate-container {
    margin-bottom: 40px;
  }


}/* MEDIUM MEDIA QUERY */






/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#get-involved {
    padding: 50px 25px;
    background: #fbfbfb;
    background: url('../images/get-involved/outstretched-arm2.jpg') !important;
    // background-size: cover !important;
    // background-position: center !important;
    background-repeat: no-repeat !important;
    // border: 3px solid green;
  }

  .get-involved-header-container h4 {
    font-size: 2rem !important;
    width: 70%;
  }

  .get-involved-center-column {
    display: none;
  }

  .donate-container {
    margin-bottom: 40px;
  }

}/* SMALL MEDIA QUERY */
