/*
|--------------------------------------------------------------------------
|                                 HERO
|--------------------------------------------------------------------------
*/

  section#hero {
    // height: 100vh;
    overflow: hidden;
    // border: 5px solid goldenrod;

    .hero-container {
      width: 100%;
      // height: 85vh;
      position: relative;
      // height: auto;
      // background-size: cover;
      // background-position: 50% center;
      // background-repeat: no-repeat;
      // background-image: url('../images/hero/video/aysegul-poster.jpg');
      // background-image: url('../images/hero/night-sky.jpg');
      // background-image: url('../images/hero/night-sky-2.jpg');
      // background-image: url('../images/hero/nasa-abstract.jpg');
      // border: 5px solid red;
    }

    .hero-video {
      // height: 100vh;
      width: 100%;
      // border: 5px solid red;
    }

    .hero-large-logo-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 85vh;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 5px solid red;

      img {
        width: 100%;
      }
    }

    .hero-large-logo-container {
      // text-align: center;
      // background: rgba(255,255,255,0.1);
      // outline: 5px solid #fff;
      // outline-offset: 10px;
      width: 60%;
      // padding: 3%;
      // border: 5px solid red;
    }

    .mission-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // border: 5px solid green;

      p, h2 {
        margin: 0;
      }
    }

  } /* section#hero */



/*
|--------------------------------------------------------------------------
|                      TABLET MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .hero-container {
    height: 80vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/hero/video/video-poster-no-logo.jpg');
      // border: 5px solid red;
    }

    .hero-large-logo-container {
      width: 80% !important;
    }

  .hero-video {
    display: none;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .hero-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/hero/video/video-poster-no-logo.jpg');
    // border: 5px solid red;
  }

  .hero-large-logo-container {
    width: 90% !important;
  }

  .hero-video {
    display: none;
  }

}/* SMALL MEDIA QUERY */
