/*
|--------------------------------------------------------------------------
|                                 MISSION
|--------------------------------------------------------------------------
*/

  section#mission {
    height: auto !important;
    padding: 3%;
    background: #B3CECD;
    // padding-top: 60px;
    // border: 5px solid goldenrod;

    .mission-container {
      background: #B3CECD;
    }

    .mission-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // border: 5px solid green;

      p, h2 {
        margin: 0;
        // color: $silver;
      }
    }

    .mission-header,
    .mission-copy {
      color: black;
      padding: 10px;
      transition: all 1s;
    }

    .mission-header-hover,
    .mission-copy-hover {
      color: #fff;
      transition: all 1s;
    }


    /* MODAL PLAY BUTTON
  ============================*/
    .video-play-btn-container {
      // width: 100%;
      // text-align: center;
      padding: 20px 0;
      // border: 5px solid red;
    }

    .open-modal:hover,
    .open-modal:focus {
      text-decoration: none;
    }

    .icon-music_play_button {
      color: black;
      font-size: 5rem;
      padding-top: 20px;
      transition: all 1s;
    }

    .icon-music_play_button-hover {
      color: #fff;
      transition: all 1s;
    }


  } /* section#mission */


  /* MODAL
  =============================================*/

  section#video-modal-section {
    z-index: 99;
    height:100%;
    width: 100%;
    overflow: hidden;
    background: rgba(168, 186, 188,0.95);
    position: fixed;
    top: 0;
    // border: 5px solid purple;

    .video-modal-container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;
    }

    .video-modal-iframe-wrapper {
      // width: 80%;
      // border: 5px solid green
    }

  } /* section#video-modal-section */





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}/* MEDIUM MEDIA QUERY */






/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#mission {

    .mission-header {
      font-size: 1.2rem !important;
    }

    .mission-copy {
      font-size: 0.8rem !important;
    }

    .icon-music_play_button {
      font-size: 3rem;
    }

  } /* section#mission */
}/* SMALL MEDIA QUERY */
