/*
|--------------------------------------------------------------------------
|                                 PARTNERS
|--------------------------------------------------------------------------
*/

  section#partners {
    height: auto;
    display: block;
    // border: 1px solid red;

    h4 {
      font-weight: 100;
    }

    .partners-row-1-container,
    .partners-row-2-container {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 5px solid green;

      img {
        padding-right: 20px;
      }
    }

    .partners-header-container {
      padding: 60px 0;
      position: relative;
      // border: 2px solid goldenrod;
    }

    h4 {
      z-index: 99;
      font-weight: 100;
      margin: 0 auto;
      background: #fff;
      width: 11%;
      // padding: 0 10px;
      // border: 1px solid blue;
    }

    .partners-section-header-line {
      z-index: -1;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;

    }


    /* PARTNER CATEGORIES
    ========================*/

    section#partner-categories {
      padding-bottom: 50px;

      h5 {
        color: #444;
        font-weight: 100;
        text-transform: uppercase;
      }
    }




    /* CAROUSEL
    ========================*/

      .partner-logos {
        // border: 3px solid red;

        img {
          // padding-top: 50px;
          margin-right: 80px;
          width: auto !important;
          // border: 3px solid red;
        }
      }

  } /* section#partners */




/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .partners-header-container h4 {
    font-size: 2rem;
    width: 30% !important;
  }



}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#partners {

    .partners-header-container h4 {
      font-size: 2rem !important;
      width: 50% !important;
    }

    h5 {
      font-size: 1rem !important;
      margin: 0;
    }

  }

}/* SMALL MEDIA QUERY */
