/*
|--------------------------------------------------------------------------
|                                 HERO
|--------------------------------------------------------------------------
*/

  section#problem-approach-aspiration {
    padding: 10px 0;
    // height: 50vh;
    // background: #fff;
    // border: 5px solid gold;

    .columns {
      padding: 0;
    }

    h4 {
      font-weight: 100;
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    p {
      font-weight: 300;
      color: #444;
      margin: 0;
      letter-spacing: 1px;
      font-size: 1.1rem;
    }

    .problem-container,
    .approach-container,
    .aspiration-container {
      height: 33vh;
      overflow: hidden;
    }

    .problem-header-container,
    .approach-header-container,
    .aspiration-header-container {
      background: #f5f5f5;
      height: 33vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .problem-copy-container,
    .approach-copy-container,
    .aspiration-copy-container {
      background: #f5f5f5;
      height: 33vh;
      overflow: hidden;
      padding: 5%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: responsive;
      }
    }

    /*********
      PROBLEM
    **********/

    .problem-header-container {
      margin-right: 10px;
      background: #a8babc;
    }


    /***********
      APPROACH
    ************/

    .approach-header-container {
      background: #a0aa95;
    }

    .approach-copy-container {
      margin-right: 10px;
    }


    /************
      ASPIRATION
    *************/

    .aspiration-header-container {
      margin-right: 10px;
      background: #c5c2be;
    }



  } /* section#problem-approach-aspiration */





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    section#problem-approach-aspiration {
      padding: 0px 0;
    }

    .problem-container,
    .approach-container,
    .aspiration-container {
      height: auto !important;
    }

    .problem-header-container,
    .approach-header-container,
    .aspiration-header-container {
      height: auto !important;
      margin-right: 0px !important;
      padding: 10%;

      h4 {
        margin: 0;
      }
    }

    .problem-copy-container,
    .approach-copy-container,
    .aspiration-copy-container {
      height: auto !important;
      margin-right: 0px !important;
    }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#problem-approach-aspiration {
      padding: 0px 0;
    }

    h4 {
      font-size: 1rem !important;
      font-weight: 400 !important;
    }

    p {
      font-size: 0.8rem !important;
    }

    .problem-container,
    .approach-container,
    .aspiration-container {
      height: auto !important;
    }

    .problem-header-container,
    .approach-header-container,
    .aspiration-header-container {
      height: auto !important;
      margin-right: 0px !important;
      padding: 10%;

      h4 {
        margin: 0;
      }
    }

    .problem-copy-container,
    .approach-copy-container,
    .aspiration-copy-container {
      height: auto !important;
      margin-right: 0px !important;
    }

}/* SMALL MEDIA QUERY */
