/*
|--------------------------------------------------------------------------
|                                 SLIDESHOW
|--------------------------------------------------------------------------
*/

  section#home-page-slideshow {
    margin-bottom: 100px;

    .slideshow-col {
      padding: 0;
    }

  /* HEADER LINE / SECTION INTRO
  ========================================*/
    .our-inspiration-header-container {
      padding: 60px 0;
      position: relative;
      // border: 2px solid goldenrod;
    }

    h4 {
      z-index: 99;
      font-weight: 100;
      margin: 0 auto;
      background: #fff;
      width: 20%;
      // padding: 0 10px;
      // border: 1px solid blue;
    }

    .our-inspiration-section-header-line {
      z-index: -1;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;

    }

  /* SLIDES
  ========================================*/

    .home-page-slideshow {
      // width: 80%;
      // border: 5px solid red;
    }

    .home-page-slideshow img {
      width: 100%;
      // border: 5px solid red;
    }

    .slide-container {
      position: relative;
    }

    .slide-caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: rgba(0,0,0,0.7);
      display: flex;
      // border: 5px solid green;

      p {
        display: flex;
        align-items: center;
        height: 150px;
        color: #fff;
        width: 70%;
        font-size: 1.2rem;
        font-weight: 300;
        // border: 5px solid red;
      }
    }

  } /* section#home-page-slideshow */




/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .our-inspiration-header-container {

    h4 {
      font-size: 2rem;
      width: 40% !important;
    }
  }


  .slide-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgba(0,0,0,0.7);
    display: flex;
    // border: 5px solid green;

    p {
      width: 90% !important;
      font-size: 1.1rem !important;
      font-weight: 300;
      // border: 5px solid red;
    }
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .our-inspiration-header-container {

    h4 {
      font-size: 2rem !important;
      width: 80% !important;
    }
  }


  .slide-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100% !important;
    background: rgba(0,0,0,0.6) !important;
    display: flex;
    // border: 5px solid green;

    p {
      width: 90% !important;
      font-size: 0.8rem !important;
      font-weight: 300;
      margin-bottom: 10px;
      // border: 5px solid red;
    }
  }

}/* SMALL MEDIA QUERY */
