/*
|--------------------------------------------------------------------------
|                                 STUDENT TESTIMONIALS
|--------------------------------------------------------------------------
*/

  section#student-testimonials {
    height: 50vh;
    background: #fff;
    // overflow: hidden;

    .slick-next,
    .slick-prev {
      display: none !important;
    }

    .student-testimonials-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 50vh;
      padding: 1% 0 3% 0;
      text-align: center;
      // border: 1px solid blue;

      h3 {
        color: #444;
        // font-size: 3em;
        font-weight: 300;
        // font-family: $font-pn-light;
        margin: 0;
      }

      .student-testimonials-hr {
        height: 1px;
        width: 90%;
        // background: red;
        margin: 0 auto;
      }
    } /* student-testimonials-header */


    .testimonials-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 50vh;
      // border: 1px solid blue;

        .tesimonials {
          padding: 2%;
          // margin-bottom: 5%;
          border: 1px solid #E5E5E5;

          p {
            // font-family: $font-pn-light-it;
            color: #444;
            font-weight: 300;
            font-size: 1.2em;
          }

          h4 {
            // font-family: $font-pn-light;
            color: #444;
            font-size: 1.1em;
          }
        } /* tesimonials */
    } /* testimonials-wrapper */


  } /* section#student-testimonials */

/************************************
   TABLET       TABLET       TABLET
*************************************/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

   .slick-dots {
      padding-bottom: 1%;
    }

  section#student-testimonials {
    // height: auto;

    .student-testimonials-header,
    .testimonials-wrapper {
      height: 25vh;
    }

    .testimonials-wrapper .tesimonials {
      padding: 0.5%;
    }


  } /* section#student-testimonials */

} /* END OF TABLET MQ */





/************************************
   MOBILE       MOBILE       MOBILE
*************************************/

@media only screen and (max-width: 40em) {

  .slick-dots {
      padding-bottom: 1%;
    }

  section#student-testimonials {
    height: auto !important;

   .student-testimonials-header {
    height: auto !important;
    padding: 20px 0;

    h3 {
      font-size: 1.2rem;
    }
   }

    .testimonials-wrapper {
      height: auto !important;
    }

    .testimonials-wrapper .tesimonials {
      padding: 0.5%;
    }


  } /* section#student-testimonials */

} /* END OF MOBILE MQ */



































