/*
|--------------------------------------------------------------------------
|                                 TEAM
|--------------------------------------------------------------------------
*/

  /* PLUGIN OVERRIDES */

    .cbp-l-project-social a {
      color: #444;
      font-size: 1.2rem;
    }

    .cbp-l-inline {
      // margin: 100px 0 !important;
      // padding: 100px;
    }



  section#team {
    // border: 5px solid red;

    .columns {
      padding: 0 10px;
    }

    .team-header-container {
      padding: 0px 0 60px 0;
      position: relative;
      // border: 2px solid goldenrod;
    }

    h4 {
      z-index: 99;
      font-weight: 100;
      margin: 0 auto;
      background: #fff;
      width: 8%;
      // padding: 0 10px;
      // border: 1px solid blue;
    }

    .team-section-header-line {
      z-index: -1;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 25% !important;

    }

    .cbp-popup-content {
      width: 60%;
      // border: 5px solid green;
    }

    .cbp-popup-singlePageInline-ready {
      // width: 60%;
      background: #fafafa;
    }

    .cbp-popup-singlePageInline .cbp-popup-close {
      right: 600px !important;
    }

  } /* section#team */




/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .team-header-container {
    padding: 50px 0 !important;

    h4 {
      font-size: 2rem;
      width: 20% !important;
    }
  }


  .team-section-header-line {
    z-index: -1;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50% !important;
  }

  section#team .cbp-popup-singlePageInline .cbp-popup-close {
    right: 50px !important;
  }

  .cbp-l-inline {
    margin: 0 !important
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .team-header-container {
    padding: 0 0 40px 0 !important;

    h4 {
      font-size: 2rem !important;
      width: 40% !important;
    }
  }

  .team-section-header-line {
    z-index: -1;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 30% !important;
  }

  section#team .cbp-popup-singlePageInline .cbp-popup-close {
    right: 5px !important;
    top: 0px !important;
  }

  .cbp-l-inline {
    margin: 0 !important;
    padding: 0 !important;
  }

  .cbp-popup-content {
    width: auto !important;
    // border: 5px solid green;
  }

  .cbp-l-project-social {
    padding: 20px 0;
  }

}/* SMALL MEDIA QUERY */
