/*
|--------------------------------------------------------------------------
|                                 BLOG POSTS
|--------------------------------------------------------------------------
*/

  section#blog-posts {
    height: 200vh;

    .blog-post-1-wrapper {
      padding: 6% 0;
      border-bottom: 1px solid #ccc;
    }

    .blog-post-left-container {

    }

    .blog-post-right-container {
      text-align: center;
      // border: 5px solid red;

      h5 {
        font-weight: 300;
        margin: 0;
        color: #222;
        padding: 20px 0 10px 0;
      }

      span {
        margin: 20px 0;
        font-weight: 300;
        font-size: 0.8rem;
        color: #7e7e7e;
      }

      p {
        padding: 20px 0;
        font-weight: 300;
        font-size: 0.9rem;
        color: #7e7e7e;
      }

      a {
        // padding: 20px 0;
        font-weight: 300;
        font-size: 0.9rem;
        color: #bbb;
        text-decoration: none;

        &:hover {
          color: black;
        }
      }
    } /* blog-post-right-container */
  } /* section#blog-posts */
