/*
|--------------------------------------------------------------------------
|                                 BLOG HERO
|--------------------------------------------------------------------------
*/

  section#blog-hero {

    /* HEADER
    =============== */
    .large-header {
      position: relative;
      width: 100%;
      background: #333;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }

    .large-header {
      background-image: url('../images/hero/demo-2-bg.jpg');
      background-position: center bottom;
    }

    .blog-header-container {
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;
    }

    .blog-header-text-wrapper {
      width: 25%;
      padding: 1% 2%;
      background: rgba(255,255,255, 0.6);
      outline: 5px solid rgba(255,255,255,.6);
      outline-offset: 10px;
      // border: 5px solid gold;
    }

    .blog-main-title {
      margin: 0;
      text-align: center;
      // color: #444;
      font-weight: 300;
    }



  } /* section#blog-hero */
