<!--
|--------------------------------------------------------------------------
|                                 4 BLOCK GRID
|--------------------------------------------------------------------------
-->

  <section id="four-block-grid">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12 col-lg-3">
          <a href="/curriculum.html" class="four-block-grid-a curriculum-a">
            <div class="four-block-grid-block-wrapper four-grid-curriculum">
              <i class="icon-computer_imac_thick"></i>
              <h5 class="text-center">Curriculum</h5>
            </div> <!-- /.four-block-grid-block-wrapper -->
          </a>
        </div> <!-- /.col -->


        <div class="col-sm-12 col-lg-3">
          <a href="/blog.html" class="four-block-grid-a blog-a">
            <div class="four-block-grid-block-wrapper four-grid-blog">
              <i class="icon-chat"></i>
              <h5 class="text-center">Blog</h5>
            </div> <!-- /.four-block-grid-block-wrapper -->
          </a>
        </div> <!-- /.col -->


        <div class="col-sm-12 col-lg-3">
          <a href="assets/portfolio-website-master" class="four-block-grid-a student-projects-a">
            <div class="four-block-grid-block-wrapper four-grid-student-projects">
              <i class="icon-pencil"></i>
              <h5 class="text-center">Student Projects</h5>
            </div> <!-- /.four-block-grid-block-wrapper -->
          </a>
        </div> <!-- /.col -->


        <div class="col-sm-12 col-lg-3">
          <a href="#" class="four-block-grid-a business-plan-a">
            <div class="four-block-grid-block-wrapper four-grid-business-plan">
              <i class="icon-circle-compass"></i>
              <h5 class="text-center">Business Plan</h5>
            </div> <!-- /.four-block-grid-block-wrapper -->
          </a>
        </div> <!-- /.col -->

      </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
  </section>
