<!--
|--------------------------------------------------------------------------
|                                 ANNIE CANNONS
|--------------------------------------------------------------------------
-->

  <section id="annie-cannons">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="annie-cannon-bio-wrapper">
            <p>“AnnieCannons” means innovation through collaboration, especially collaboration of the under-appreciated. Annie Jump Cannon worked at the Harvard Observatory with a team of women in the early 20th century. Their names are generally unknown. Yet Annie discerned the very categories stars fall into, and other women in her lab discovered how to measure the distance between galaxies, to understand the elemental composition of stars and their lifecycle. One published a thesis that would serve as the core astronomy textbook for years.  Most were told they should “go be a housewife.” We’re glad they didn’t.</p>
          </div> <!-- /.annie-cannon-bio-wrapper -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->

  </section>


