<!--=======
GET INVOLVED
===========-->

  <div class="get-involved-header-container">
    <h4 class="text-center">Get Involved</h4>
    <div class="get-involved-section-header-line gradient"></div>
  </div> <!-- get-involved-header-container -->

  <section id="get-involved">
    <div class="container-fluid">
      <!--feature border box start-->
      <div class="row">



      <!-- PARTNER
      ===================-->
        <div class="col-sm-12 col-lg-4">
          <a href="/partner.html">
            <div class="get-involved-container trafficking-container">
              <div class="get-involved-icon">
                <i class="icon-attachments"></i>
              </div>
              <div class="get-involved-header-title-container">
                <h4 class="get-involved-header-title trafficking-title">Partner</h4>
              </div>
              <div class="get-involved-copy">
                <p>Give a part of our infrastructure or work alongside our business.</p>
              </div>
            </div> <!-- /.partner-container -->
          </a>

      <!-- DONATE
      ===================-->
          <a href="/donate.html">
            <div class="get-involved-container donate-container">
              <div class="get-involved-icon">
                <i class="icon-ecommerce_gift"></i>
              </div>
              <div class="get-involved-header-title-container">
                <h4 class="get-involved-header-title donate-title">Donate</h4>
              </div>
              <div class="get-involved-copy">
                <p>Give to build an enterprise that empowers the world's human trafficking survivors.</p>
              </div>
            </div> <!-- /.donate-container -->
          </a>
        </div> <!-- col -->


        <div class="col-sm-12 col-lg-4 text-center get-involved-center-column">
          <div class="get-involved-logo-container">
            <!-- <img src="images/logo/logo.png" alt=""> -->
          </div>
        </div>

      <!-- VOLUNTEER
        ===================-->
        <div class="col-sm-12 col-lg-4">
          <a href="/volunteer.html">
            <div class="get-involved-container volunteer-container">
              <div class="get-involved-icon">
                <i class="icon-heart2"></i>
              </div>
              <div class="get-involved-header-title-container">
                <h4 class="get-involved-header-title volunteer-title">Volunteer</h4>
              </div>
              <div class="get-involved-copy">
                <p>Offer technical or non-technical expertise to help us help survivors thrive.</p>
              </div>
            </div> <!-- /.volunteer-container -->
          </a>


        <!-- HIRE
        ===================-->
          <a href="/hire.html">
            <div class="get-involved-container hire-container">
              <div class="get-involved-icon">
                <i class="icon-briefcase2"></i>
              </div>
              <div class="get-involved-header-title-container">
                <h4 class="get-involved-header-title hire-title">Hire</h4>
              </div>
              <div class="get-involved-copy">
                <p>Get data, testing, or website services as you support survivors' recovery.</p>
              </div>
            </div>  <!-- /.hire-container -->
          </a>
        </div> <!-- col -->

      </div> <!-- row -->
    </div> <!-- container -->
  </section>
