<!--=======
    HERO
===========-->

<section id="hero">

  <div class="hero-container">
    <video poster="images/hero/video/video-poster-no-logo.jpg" preload="metadata" loop autoplay muted class="hero-video">
      <source src="images/hero/video/loop-low.mp4" type="video/mp4">
    </video>
    <div class="hero-large-logo-overlay">
      <div class="hero-large-logo-container">
        <img src="images/logo/veritcal-logo-white-trim.png">
      </div> <!-- hero-large-logo-container -->
    </div> <!-- hero-large-logo-overlay -->
  </div> <!-- hero-container -->

</section>
