<!--=======
    MISSION
===========-->

<section id="mission">

  <div class="mission-container">
    <h2 class="mission-header">Our Mission.</h2>
    <p class="mission-copy">We stand for the proposition that no one with the insight or potential to change the world <br />
    should be ignored because of her gender, race, or previous condition of servitude.</p>

    <div class="video-play-btn-container">
      <a href="" class="open-modal"><i class="icon-music_play_button"></i></a>
    </div> <!-- video-modal-container -->
  </div> <!-- mission-container -->

</section>



<section id="video-modal-section">
  <div class="video-modal-container">
    <div class="video-modal-iframe-wrapper">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/KnPkDy4s4zA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> <!-- video-modal-iframe-wrapper -->
  </div> <!-- video-modal-container -->
</section>
