<!--=======
    PARTNERS
===========-->

  <section id="partners">

  <!-- CAROUSEL
  =================================-->

    <div class="partners-header-container">
      <h4 class="text-center">Partners</h4>
      <div class="partners-section-header-line gradient"></div>
    </div> <!-- partners-header-container -->


    <section id="partner-categories">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h5 class="text-center">Intake</h5>
          </div> <!-- /.col -->
          <div class="col-sm-12 col-md-4">
            <h5 class="text-center">Curriculum</h5>
          </div> <!-- /.col -->
          <div class="col-sm-12 col-md-4">
            <h5 class="text-center">Infrastructure</h5>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container-fluid -->
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="owl-carousel">
            <!-- Curriculum -->
            <img src="images/partners/curriculum/1.png">
            <img src="images/partners/curriculum/2.png">
            <img src="images/partners/curriculum/3.png">
            <img src="images/partners/curriculum/4.png">
            <img src="images/partners/curriculum/5.png">
            <img src="images/partners/curriculum/6.png">
            <img src="images/partners/curriculum/7.png">
            <img src="images/partners/curriculum/8.png">
            <img src="images/partners/curriculum/9.png">
            <img src="images/partners/curriculum/10.png">
            <img src="images/partners/curriculum/11.png">
            <!-- Infrastructure -->
            <img src="images/partners/infrastructure/1.png">
            <img src="images/partners/infrastructure/2.png">
            <img src="images/partners/infrastructure/3.png">
            <img src="images/partners/infrastructure/4.png">
            <img src="images/partners/infrastructure/5.png">
            <img src="images/partners/infrastructure/6.png">
            <img src="images/partners/infrastructure/7.png">
            <img src="images/partners/infrastructure/8.png">
            <!-- Intake -->
            <img src="images/partners/intake/1.png">
            <img src="images/partners/intake/2.png">
            <img src="images/partners/intake/3.png">
            <img src="images/partners/intake/4.png">
            <img src="images/partners/intake/5.png">
            <img src="images/partners/intake/6.png">

          </div> <!-- /.partner-logos -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </section>




