<!--=======
    MISSION
===========-->

<section id="problem-approach-aspiration">

  <!-- PROBLEM
  =============================== -->
  <div class="container-fluid problem-container">
    <div class="row">

      <div class="col-sm-12 col-md-6 columns">
        <div class="problem-header-container">
          <h4 class="text-center">Problem.</h4>
        </div> <!-- problem-header-container -->
      </div> <!-- columns -->

      <div class="col-sm-12 col-md-6 columns">
        <div class="problem-copy-container">
          <p>Survivors of human trafficking face an uphill battle rebuilding their lives. Many have limited access to opportunities or career training capable of giving them true independence or economic power. All too often, Survivors’ career prospects are stifled by discrimination and stigma in existing work environments.</p>
        </div> <!-- problem-copy-container -->
      </div> <!-- columns -->

    </div> <!-- row -->
  </div> <!-- container -->



  <!-- APPROACH
  =============================== -->
  <div class="container-fluid approach-container">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-md-push-6 columns">
        <div class="approach-header-container">
          <h4 class="text-center">Approach.</h4>
        </div> <!-- approach-header-container -->
      </div> <!-- columns -->

      <div class="col-sm-12 col-md-6 col-md-pull-6 columns">
        <div class="approach-copy-container">
          <p>We are dedicated to organizing and directing publicly-available resources to give Survivors the chance to learn today’s most lucrative skills: computer literacy and programming. After training, we take the critical next step of employing Survivors in a safe, nondiscriminatory environment under managers they can identify with. This way we ensure that discrimination and stigma don’t prevent their success.</p>
        </div> <!-- approach-copy-container -->
      </div> <!-- columns -->

    </div> <!-- row -->
  </div> <!-- container -->



  <!-- ASPIRATION
  =============================== -->
  <div class="container-fluid aspiration-container">
    <div class="row">

      <div class="col-sm-12 col-md-6 columns">
        <div class="aspiration-header-container">
          <h4 class="text-center">Aspiration.</h4>
        </div> <!-- aspiration-header-container -->
      </div> <!-- columns -->

      <div class="col-sm-12 col-md-6 columns">
        <div class="aspiration-copy-container">
          <p>Like our namesake, too many women have been marginalized or ignored by history in spite of their remarkable contributions to scientific advancement and human innovation. Survivors of human trafficking and women in general too often lack the opportunity to reach their full potential. We believe this oppressive dynamic will not cease until we begin to cultivate innovation in new ways.</p>
        </div> <!-- aspiration-copy-container -->
      </div> <!-- columns -->

    </div> <!-- row -->
  </div> <!-- container -->
</section>
