<!--
|--------------------------------------------------------------------------
|                                 SLIDE SHOW
|--------------------------------------------------------------------------
-->

  <section id="home-page-slideshow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 slideshow-col">

          <div class="our-inspiration-header-container">
            <h4 class="text-center">Our Inspiration</h4>
            <div class="our-inspiration-section-header-line gradient"></div>
          </div> <!-- our-inspiration-header-container -->

          <div class="home-page-slideshow">

            <div class="slide-container">
              <img src="images/slideshow/widescreen/annie-easley.jpg">
              <div class="slide-caption">
                <p>Dr. Annie Easley was raised by a single mother in the segregated South, but she still earned a Ph.D. in mathematics and joined NASA; her innovations enabled spaceflight through rocket technology and hybrid car batteries.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/hedy-lamarr.jpg">
              <div class="slide-caption">
                <p>Hedy Lamarr, remembered for her beauty and films, actually invented “spread spectrum” radio technology – which allowed the US to encrypt military messages during World War II and which formed the basis for modern wireless technology.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/mae-jemison.jpg">
              <div class="slide-caption">
                <p>Dr. Mae Jemison went to Stanford at 16 and trained as a physician before being recruited to NASA, where she became the first black woman in space. She later founded a successful biotech company and a foundation for underprivileged youth.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/chien-shiung-wu.jpg">
              <div class="slide-caption">
                <p>Dr. Chien-Shiung Wu was a nuclear physicist whose insights illuminated the behavior of decaying atoms and who, during the Manhattan Project, developed the process for separating uranium isotopes by weight.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/rosalind-franklin.jpg">
              <div class="slide-caption">
                <p>Dr. Rosalind Franklin was a chemist and X-ray Crystallographer whose imaging and study of DNA revealed its double-helix structure & phosphate backbone. Though she was fundamental to identifying DNA’s double-helix structure, her name is rarely associated with the Nobel-prize winning discovery.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/ellen-ochoa.jpg">
              <div class="slide-caption">
                <p>Dr. Ellen Ochoa is a pilot, astronaut and electrical engineer who holds three patents on optical engineering systems; she’s logged nearly a thousand hours in orbit, where, as a classical flutist, she was the first to experiment with music in space.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/flossie-wong-staal.jpg">
              <div class="slide-caption">
                <p>Dr. Flossie Wong-Staal helped identify the virus that causes AIDS – and one that causes cancer – as well as cloning and mapping the HIV genome, which paved the way for her invention of the first HIV test.</p>
              </div>
            </div>


            <div class="slide-container">
              <img src="images/slideshow/widescreen/annie-jump-cannon.jpg">
              <div class="slide-caption">
                <p>Annie Jump Cannon first discerned the categories of stars by observing their spectral emissions, enabling women she worked with to discover that those categories reflected the chemical composition and lifecycle of stars – a breakthrough that forged modern astronomy but for which this group of remarkable scientists is rarely credited.</p>
              </div>
            </div>

          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container-fluid -->
    </div> <!-- /.home-page-slideshow -->
  </section>

















