<!--
|--------------------------------------------------------------------------
|                                 STUDENT TESTIMONIALS
|--------------------------------------------------------------------------
-->

  <section id="student-testimonials">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="student-testimonials-header">
          <h3>What our students are saying...</h3>
          <div class="student-testimonials-hr gradient"></div>
        </div> <!-- student-testimonials-header -->
      </div> <!-- col-sm-12 col-md-6 -->


      <div class="col-sm-12 col-md-6">

      <div class="testimonials-wrapper">
          <div class="student-testimonials-testimonials">

            <div class="tesimonials tesimonial-1">
              <p>“I would highly recommend the training because I believe that every single girl in San Francisco and in this world deserves the human right of education…I think that AnnieCannons is going to change their lives, that it is going to be super helpful because you can have the skills and have the support that you need to follow your dreams and to have a better life for yourself and your family.”</p>
            </div> <!-- tesimonials tesimonial-1 -->

            <div class="tesimonials tesimonial-2">
              <p>“Reason #1 I joined this training is to help my community.”</p>
            </div> <!-- tesimonials tesimonial-2 -->

            <div class="tesimonials tesimonial-3">
              <p>“Sometimes [this training] gets complicated and sometimes it’s really fun.”</p>
            </div> <!-- tesimonials tesimonial-3 -->

            <div class="tesimonials tesimonial-4">
              <p>“I want to use the training to find solutions for the things that are happening in my community like homelessness, housing prices, sex trafficking and domestic violence.”</p>
            </div> <!-- tesimonials tesimonial-4 -->

            <div class="tesimonials tesimonial-5">
              <p>“Thank you for giving me this opportunity and for the love and support that I get. I feel that this is gonna change my life and my community."</p>
            </div> <!-- tesimonials tesimonial-5 -->

          </div> <!-- student-testimonials-testimonials -->
        </div> <!-- testimonials-wrapper -->
      </div> <!-- col-sm-12 col-md-6 -->

    </div> <!-- row -->
  </div> <!-- container -->

  </section>

















