<!--=======
    TEAM
===========-->

  <section id="team">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 columns">

          <div class="team-header-container">
            <h4 class="text-center">Team</h4>
            <div class="team-section-header-line gradient"></div>
          </div> <!-- team-header-container -->



          <div id="js-grid-lightbox-gallery" class="cbp">

          <!--==== Laura Hackney ====-->
              <div class="cbp-item web-design graphic print motion">
                  <a href="assets/team-profiles/laura.html" class="cbp-caption cbp-singlePageInline" data-title="LAURA HACKNEY<br>COFOUNDER" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/laura.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">LAURA HACKNEY</div>
                                  <div class="cbp-l-caption-desc">COFOUNDER</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Jessica Hubley ====-->
              <div class="cbp-item web-design logos identity graphic">
                  <a href="assets/team-profiles/jessica.html" class="cbp-caption cbp-singlePageInline" data-title="JESSICA HUBLEY<br>COFOUNDER" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/jessica.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">JESSICA HUBLEY</div>
                                  <div class="cbp-l-caption-desc">COFOUNDER</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Aysegul Yonet ====-->
              <div class="cbp-item graphic print identity">
                  <a href="assets/team-profiles/aysegul.html" class="cbp-caption cbp-singlePageInline" data-title="AYSEGUL YONET<br>CTO" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/aysegul.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">AYSEGUL YONET</div>
                                  <div class="cbp-l-caption-desc">DIRECTOR &amp; CTO</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Mckinley Smith ====-->
              <div class="cbp-item web-design motion logos">
                  <a href="assets/team-profiles/mckinley.html" class="cbp-caption cbp-singlePageInline" data-title="MCKINLEY SMITH<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/mckinley.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">MCKINLEY SMITH</div>
                                  <div class="cbp-l-caption-desc">DIRECTOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Patti Ordonez ====-->
              <div class="cbp-item identity graphic print">
                  <a href="assets/team-profiles/patti.html" class="cbp-caption cbp-singlePageInline" data-title="PATTI ORDOÑEZ<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/patti.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">PATTI ORDOÑEZ</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Minh Dang ====-->
              <div class="cbp-item motion print logos web-design">
                  <a href="assets/team-profiles/minh.html" class="cbp-caption cbp-singlePageInline" data-title="MINH DANG<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/minh.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">MINH DANG</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Tamika Butler ====-->
              <div class="cbp-item graphic logos">
                  <a href="assets/team-profiles/tamika.html" class="cbp-caption cbp-singlePageInline" data-title="TAMIKA BUTLER<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/tamika.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">TAMIKA BUTLER</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Bradley Myles ====-->
              <div class="cbp-item identity print logos motion">
                  <a href="assets/team-profiles/bradley.html" class="cbp-caption cbp-singlePageInline" data-title="BRADLEY MYLES<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/bradley.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">BRADLEY MYLES</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>



            <!--==== Mary Cunningham Agee ====-->
              <div class="cbp-item identity print logos motion">
                  <a href="assets/team-profiles/mary.html" class="cbp-caption cbp-singlePageInline" data-title="MARY CUNNINGHAM AGEE<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/mary.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">MARY CUNNINGHAM AGEE</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>


            <!--==== Isaac Adams ====-->
              <div class="cbp-item identity print logos motion">
                  <a href="assets/team-profiles/isaac.html" class="cbp-caption cbp-singlePageInline" data-title="ISAAC ADAMS<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/isaac.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">ISAAC ADAMS</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

            <!--==== Richard Lui ====-->
              <div class="cbp-item identity print logos motion">
                  <a href="assets/team-profiles/richard.html" class="cbp-caption cbp-singlePageInline" data-title="RICHARD LUI<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/richard.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">RICHARD LUI</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>


            <!--==== Kristin Brey ====-->
              <div class="cbp-item identity print logos motion">
                  <a href="assets/team-profiles/kristin.html" class="cbp-caption cbp-singlePageInline" data-title="RICHARD LUI<br>ADVISOR" rel="nofollow">
                      <div class="cbp-caption-defaultWrap">
                          <img src="images/team/kristin.jpg" alt="">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignLeft">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">KRISTIN BREY</div>
                                  <div class="cbp-l-caption-desc">ADVISOR</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div> <!-- js-grid-lightbox-gallery -->

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>








