@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('../fonts/aqua-grotesque/aqua-webfont.eot');
    src: url('../fonts/aqua-grotesque/aqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aqua-grotesque/aqua-webfont.woff2') format('woff2'),
         url('../fonts/aqua-grotesque/aqua-webfont.woff') format('woff'),
         url('../fonts/aqua-grotesque/aqua-webfont.ttf') format('truetype'),
         url('../fonts/aqua-grotesque/aqua-webfont.svg#aqua_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

// @import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

// @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700);

// @import url(https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700);

// @import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Karma:400,300,500,600,700);

// @import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// @import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

// @import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,100,300,600,700);

// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);



