/* **==== FONTS ====** */

$font-roboto: 'Roboto', sans-serif;

$font-source-sans-pro: 'Source Sans Pro', sans-serif;

$font-dosis: 'Dosis', sans-serif;;

$font-lato: 'Lato', sans-serif;

$font-ubuntu: 'Ubuntu', sans-serif;

$font-raleway: 'Raleway', sans-serif;

$font-catamaran: 'Catamaran', sans-serif;

$font-rubik: 'Rubik', sans-serif;

$font-karma: 'Karma', sans-serif;

$font-fira-sans: 'Fira Sans', sans-serif;

$font-arvo: 'Arvo', sans-serif;

$font-montserrat: 'Montserrat', sans-serif;

$font-arimo: 'Arimo', sans-serif;

$font-open-sans: 'Open Sans', sans-serif;

$font-josefin-slab: 'Josefin Slab', sans-serif;

$font-pt-sans: 'PT Sans', sans-serif;


/* **==== COLORS ====** */

/* SOCIAL MEDIA COLORS */

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;


/* http://colours.neilorangepeel.com/category/yellow/ */

$papayawhip: #FFEFD5;

$moccasin: #FFE4B5;

$goldenrod: #DAA520;

$khaki: #F0E68C;

$palegoldenrod: #EEE8AA;

$darkkhaki: #BDB76B;

$yellow: #FFFF00;

/* http://colours.neilorangepeel.com/category/cyan/ */

$darkcyan: #008B8B;

$cyan: #00FFFF;

$teal: #008080;

$lightcyan: #E0FFFF;

/* http://colours.neilorangepeel.com/category/green/ */

$olive: #808000;

$olivedrab: #6B8E23;

$darkolivegreen: #556B2F;

$chartreuse: #7FFF00;

$darkgreen: #006400;

$forestgreen: #228B22;

$lime: #00FF00;

$lightgreen: #90EE90;

$palegreen: #98FB98;

$darkseagreen: #8FBC8F;

$seagreen: #2E8B57;

$mediumseagreen: #3CB371;


/* http://colours.neilorangepeel.com/category/red/ */

$darkred: #8B0000;

$firebrick: #B22222;

$lightcoral: #F08080;

$salmon: #FA8072;

$crimson: #DC143C;


/* http://colours.neilorangepeel.com/category/blue/ */

$deepskyblue: #00BFFF;

$blue: #0000FF;

$aquamarine: #7FFFD4;

$turquoise: #40E0D0;

$mediumturquoise: #48D1CC;

$aqua: #00FFFF;

$paleturquoise: #AFEEEE;

$darkturquoise: #00CED1;

$cadetblue: #5F9EA0;

$lightblue: #ADD8E6;

$skyblue: #87CEEB;

$steelblue: #4682B4;

$dodgerblue: #1E90FF;

$royalblue: #4169E1;

$midnightblue: #191970;

$navy: #000080;

$darkblue: #00008B;

$mediumslateblue: #7B68EE;


/* http://colours.neilorangepeel.com/category/orange/ */

$tomato: #FF6347;

$orangered: #FF4500;

$coral: #FF7F50;

$darkorange: #FF8C00;

$orange: #FFA500;


/* http://colours.neilorangepeel.com/category/gray/ */

$lightgray: #D3D3D3;

$slategrey: #708090;

$lightslategrey: #778899;

$grey: #808080;

$dimgrey: #696969;

$darkslategrey: #2F4F4F;

$darkgrey: #A9A9A9;

$black: #000000;

$dimgray: #696969;

$gray: #808080;

$darkgray: #A9A9A9;

$silver: #C0C0C0;

$lightgrey: #D3D3D3;

$gainsboro: #DCDCDC;

$darkslategray: #2F4F4F;

$slategray: #708090;

$lightslategray: #778899;


/* http://colours.neilorangepeel.com/category/white/ */

$whitesmoke: #F5F5F5;

$white: #FFFFFF;

$snow: #FFFAFA;

$mistyrose: #FFE4E1;

$linen: #FAF0E6;

$floralwhite: #FFFAF0;

$beige: #F5F5DC;

$ivory: #FFFFF0;

$honeydew: #F0FFF0;

$mintcream: #F5FFFA;

$azure: #F0FFFF;

$aliceblue: #F0F8FF;

$ghostwhite: #F8F8FF;

$lavenderblush: #FFF0F5;


/* http://colours.neilorangepeel.com/category/brown/ */

$maroon: #800000;

$brown: #A52A2A;

$sienna: #A0522D;

$saddlebrown: #8B4513;

$chocolate: #D2691E;

$peru: #CD853F;

$bisque: #FFE4C4;

$tan: #D2B48C;

$navajowhite: #FFDEAD;

$wheat: #F5DEB3;

$darkgoldenrod: #B8860B;

$cornsilk: #FFF8DC;

















































