/*
|--------------------------------------------------------------------------
|                                 VOLUNTEER  HERO
|--------------------------------------------------------------------------
*/


section#volunteer-hero {
  // height: 100px;
  // background: #f5f5f5;
  // border: 5px solid red;

  /* HEADER
    =============== */
    .volunteer-large-header {
      position: relative;
      width: 100%;
      background: #333;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }

    .volunteer-large-header {
      background-image: url('../images/volunteer/branches.jpg');
      background-position: center;
    }

    .volunteer-header-container {
      // position: absolute;
      height: 50vh;
      width: 100%;
      // top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;
    }

    .volunteer-header-text-wrapper {
      width: 25%;
      padding: 1% 2%;
      background: rgba(255,255,255, 0.8);
      outline: 5px solid rgba(255,255,255,.8);
      outline-offset: 10px;
      // border: 5px solid gold;
    }

    .volunteer-main-title {
      margin: 0;
      text-align: center;
      // color: #444;
      font-weight: 300;
    }
}





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .volunteer-header-text-wrapper {
    width: 50% !important;
    padding: 1% 2%;;
  }

  .volunteer-main-title {
    font-size: 4rem;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .volunteer-header-container {
    padding-top: 55px !important;
  }

  .volunteer-header-text-wrapper {
    width: 75% !important;
    padding: 1% 2%;;
  }

  .volunteer-main-title {
    font-size: 2.5rem;
  }

}/* SMALL MEDIA QUERY */
