/********************************************************
    NAVIGATION    OVERLAY    NAVIGATION    OVERLAY
*********************************************************/

  section#nav-overlay {
    z-index: 99;
    height:100%;
    width: 100%;
    overflow: hidden;
    // background: rgba(255,255,255,0.92);
    background: rgba(168, 186, 188,0.98);
    position: fixed;
    // top: 0;
    // border: 5px solid purple;

    .nav-overlay-x-close {
      position: absolute;
      top: 0;
      text-align: right;
      padding: 20px 160px 0 0;
      // margin-top: 10px;
      height: 70px;
      width: 100%;
      // border: 2px solid green;

      span {
        color: goldenrod;
        font-size: 2rem;
      }
    }

    .nav-overlay-container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;

      .nav-overlay-content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // border: 2px solid yellow;

          .nav-overlay-logo-div {

            h4 {
              font-weight: 400;
              margin: 0;
              color: darken(#fff, 3%);

              &:hover {
                // border-bottom: none;
              }
            }
          } /* nav-logo-div */

            ul {
            padding: 0;
            text-align: center;
            list-style: none;

              li {
                // font-family: $font-pn-light;
                text-transform: uppercase;
                padding: 4% 0;
                // font-size: 2rem;

                a {
                  color: #fff;
                  font-size: 1.2rem;
                  font-weight: 300;

                  &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid goldenrod;
                  }
                } /* a */
              } /* li */
           } /* ul */

        } /* nav-content-wrapper */
      } /* nav-overlay-container */
  } /* section#nav-overlay */



















