/*
|--------------------------------------------------------------------------
|                                 FOOTER
|--------------------------------------------------------------------------
*/

  footer {
    height: 100px;
    padding: 4% 0;
    background: #f5f5f5;
    position: relative;
    color: #323232;
    display: flex;
    align-items: center;

    a {
      color: #323232;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #999;
        text-decoration: none;
      }
    }

    .footer-logo-container {
      position: absolute;
      top: -40px;
      left: 50%;
      padding: 10px;
      margin-left: -150px;
      background: #fff;
      width: 300px;
      text-align: center;
      border: 5px solid #f5f5f5;

      img {
        width: 50px;
        margin-right: 3px;
      }

      h5 {
        font-family: 'aqua_grotesqueregular', sans-serif;
        margin: 0;
        outline: 2px solid #f5f5f5;
        outline-offset: 5px;
      }
    }

    .footer-address-container {
      height: 100px;
      padding: 10px 0;
      text-align: center;
      // border: 5px solid blue;

      span {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }

    .footer-social-container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;

      i {
        font-size: 1.5rem;
        padding-right: 8px;
      }
    }

    .footer-contact-container {
      height: 100px;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;

      i {
        font-weight: 300;
      }
      // border: 5px solid green;
    }

    .privacy-policy a {
      font-weight: 100;
    }

    .ion-social-twitter {
      color: $twitter;
    }

    .ion-social-facebook {
      color: $facebook;
    }


  } /* FOOTER */




/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  footer {
    height: auto !important;
    display: block !important;
  }

  .footer-address-container,
  .footer-social-container,
  .footer-contact-container {
    height: auto !important;
    // display: block !important;
  }

  .footer-social-container {
    padding-top: 40px;
  }

  .footer-contact-container {
    padding-top: 20px;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  footer {
    height: auto !important;
    display: block !important;
  }

  .footer-logo-container {
    top: -40px !important;
  }

  .footer-address-container {
    margin-top: 40px;
  }

  .footer-address-container,
  .footer-social-container,
  .footer-contact-container {
    height: auto !important;
    // display: block !important;
  }

  .footer-social-container {
    padding-top: 10px;
  }

  .footer-contact-container {
    padding-top: 20px;
    text-align: center;
  }

}/* SMALL MEDIA QUERY */
