/*
|--------------------------------------------------------------------------
|                                 NAVIGATION
|--------------------------------------------------------------------------
*/

  nav#main-nav {

    a {
      text-decoration: none;
      color: #444;
    }

    .main-nav-container {
      z-index: 99;
      padding-top: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border-bottom: 1px solid #444;
      background: transparent;
    }

    .main-nav-container-hover {
      background: #fff !important;
    }

    .nav-logo-container {
      padding-left: 10%;
      // border: 2px solid red;

      img {
        width: 50px;
        margin-right: 3px;
      }

      h6 {
        font-family: 'aqua_grotesqueregular', sans-serif;
        letter-spacing: 1px;
      }
    } /* nav-logo-container */

    .top-nav-links {
      color: #fff;
      font-weight: 300;
      font-size: .9rem;
    }

    .nav-links-container {
      padding-right: 10%;
      // border: 5px solid blue;

      ul {
        list-style: none;

        li {
          // font-weight: 400;
          letter-spacing: 1px;
          padding-right: 10px;
          display: inline-block;
        }
      }

      .jquery-open i {
        padding-right: 5px;
        // border: 2px solid red;
      }

      .donate-link-nav {
        padding: 5px 10px;
        border: 1px solid #f8f1bf;
        color: #fff !important;
      }

      .donate-link-nav-hover {
        padding: 5px 10px;
        border: 1px solid #fff;
        color: #fff !important;
        background: #b3cecd;
      }
    } /* nav-links-container */

  } /* nav#main-nav */





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .main-nav-container {
    z-index: 99;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
  }

}/* MEDIUM MEDIA QUERY */








/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .main-nav-container {
    background: #fff !important;
    // border: 2px solid purple;
  }

  .nav-logo-container {
    padding-left: 0% !important;
  }

  #logo, .home-link, .ion-navicon {color: #444 !important;}

  #logo {
    font-size: 0.7rem !important;
  }

  .nav-links-container {
    padding-right: 0% !important;
    // border: 5px solid blue;

    ul {
      list-style: none;
      padding: 0;

      li {
        letter-spacing: 0px !important;
        padding-right: 4px !important;
        display: inline-block;
      }
    }
  }

  .top-nav-links {
    display: none;
  }

}/* SMALL MEDIA QUERY */


