/*
|--------------------------------------------------------------------------
|                                 CURRICULUM
|--------------------------------------------------------------------------
*/

section#curriculum-timeline {
  background: #f5f5f5;

  .curriculum-header-copy-container {
    padding: 40px 0;
    color: #444;

    h4 {
      color: #444;
      font-weight: 300;
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }




/* ============ TIMELINER.JS ============= */
.timeline-container {
  border-left: 2px solid #ccc;
  margin: 20px auto;
  width: 900px;
}
.timeline-toggle {
  background: #000;
  border-color: #161616;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-right: 0;
  padding: 3px 5px;
  white-space: nowrap;
}
.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0 0 12px;
  width: 900px;
}
.timeline-wrapper h3 {
  background: url(../images/timeline/timeline_century_tick.gif) left center no-repeat;
  // font-family: Palatino, "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 4px 4px 4px 20px;
}
.timeline-wrapper h3 span {
  background: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #131313;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  padding: 3px 5px 1px;
}
.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 880px;
}
.timeline-series dt {
  background: url(../images/timeline/timeline_decade_tick.gif) left center no-repeat;
  clear: left;
  font-size: 1.6em;
  font-weight: 300;
  list-style-type: none;
  line-height: 1.2em;
  margin: 0 0 12px;
  padding: 0 0 0 24px;
  white-space: nowrap;
}
.timeline-series dt a {
  color: #999;
  cursor: pointer;
}
.timeline-series dt a .closed {
  color: #999;
  font-size: 1em;
  margin-left: 0;
}
.timeline-series dt a .open {
  color: #7DBADF;
}
.timeline-series dt a:hover {
  color: #7DBADF;
}
.timeline-series dd {
  padding-left: 24px;
  width: 100%;
}
.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
}
.timeline-event-content {
  display: none;
}
.timeline-event-content p {
  clear: left;
  float: left;
  line-height: 1.5em;
  margin: 6px 0 10px;
  width: 500px;
}
.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
.timeline-event-content blockquote {
  border-left: 2px solid #ccc;
  clear: left;
  float: left;
  font-size: 1.8em;
  margin-left: 0;
  padding: 0 30px;
  width: 400px;
}
.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right;
}
.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  width: 300px;
}
.timeline-event-content .media img {
  border: 2px solid #000;
  margin: 0;
}
.timeline-event-content .media p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.timeline-event-content .media a:link,
.timeline-event-content .media a:visited {
  color: #ab221b;
}
.timeline-event-content .media a:hover {
  color: #7DBADF;
}

}





/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  section#curriculum-timeline {
    padding-bottom: 50px;
    .col-md-12 {
      padding: 0;
    }
  }

  .timeline-container {
    width: 100% !important;
    padding: 3%;
    border-left: 2px solid #f5f5f5 !important;
  }

  section#curriculum-timeline .timeline-wrapper h3 {
    font-size: 2.5rem !important;
  }

  section#curriculum-timeline .timeline-wrapper,
  .timeline-series,
  .timeline-event-content p,
  .timeline-event-content blockquote,
  .timeline-event-content .media {
    width: 100% !important;
  }

  .curriculum-header-copy-container {
    // width: 100% !important;
    padding: 5% !important;
    // border: 5px solid purple;

    p {
      font-size: 1rem !important;
    }
  }

  section#curriculum-timeline .timeline-toggle {
    float: none !important;
    text-align: center;
  }

  section#curriculum-timeline .timeline-container {
    width: 100% !important;
  }

}/* MEDIUM MEDIA QUERY */









/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#curriculum-timeline {
    padding-bottom: 50px;
    .col-md-12 {
      padding: 0;
    }
  }

  .timeline-container {
    width: 100% !important;
    padding: 3%;
    border-left: 2px solid #f5f5f5 !important;
  }

  section#curriculum-timeline .timeline-wrapper h3,
  .main-title {
    font-size: 1.5rem !important;
  }

  .timeline-event a {
    font-size: 1.2rem !important;
  }

  section#curriculum-timeline .timeline-wrapper,
  .timeline-series,
  .timeline-event-content p,
  .timeline-event-content blockquote,
  .timeline-event-content .media {
    width: 100% !important;
  }

  .curriculum-header-copy-container {
    // width: 100% !important;
    padding: 5% !important;
    // border: 5px solid purple;

    p {
      font-size: 1rem !important;
    }
  }

  section#curriculum-timeline .timeline-toggle {
    float: none !important;
    text-align: center;
  }

  section#curriculum-timeline .timeline-container {
    width: 100% !important;
  }

}/* SMALL MEDIA QUERY */




