<!--
|--------------------------------------------------------------------------
|                                 HIRE HERO
|--------------------------------------------------------------------------
-->

  <section id="hire-hero">
    <div class="hire-large-header" class="large-header">
      <video poster="images/hire/bulb.jpg" preload="auto" autoplay muted class="hire-video">
        <source src="images/hire/light-bulb.mp4" type="video/mp4">
      </video>
      <div class="hire-header-container">
        <div class="hire-header-text-wrapper">
          <h1 class="hire-main-title">Hire</span></h1>
        </div> <!-- /.hire-header-text-wrapper -->
      </div> <!-- /.hire-header-container -->
    </div> <!-- /.hire-large-header -->
  </section>



<!--
|--------------------------------------------------------------------------
|                                 HIRE
|--------------------------------------------------------------------------
-->

  <section id="hire-content">



  </section>
