<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <div class="cbp-misc-video">
                        <iframe src="//www.youtube.com/embed/4AivEQmfPpk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li class="cbp-slider-item">
                    <div class="cbp-misc-video">
                        <iframe src="//www.youtube.com/embed/4AivEQmfPpk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li class="cbp-slider-item">
                    <div class="cbp-misc-video">
                        <iframe src="//www.youtube.com/embed/4AivEQmfPpk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">iDevices</div>
        <div class="cbp-l-inline-subtitle">by Tiberiu Neamu</div>

        <div class="cbp-l-inline-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>

        <div class="cbp-l-project-social">
            <a href="#" class="cbp-social-fb" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="#" class="cbp-social-twitter" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="#" class="cbp-social-googleplus" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="cbp-social-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
        </div>

        <div class="cbp-l-inline-view-wrap">
            <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a>
        </div>
    </div>
</div>
