<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/918693" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x300/7784e4" alt="">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/edd61b" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8b6ba0" alt="">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/eb6888" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8dc8ef" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">World Clock Widget</div>
        <div class="cbp-l-inline-subtitle">by Paul Flavius Nechita</div>

        <div class="cbp-l-inline-desc">Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>

        <div class="cbp-l-project-social">
            <a href="#" class="cbp-social-fb" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="#" class="cbp-social-twitter" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="#" class="cbp-social-googleplus" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="cbp-social-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
        </div>

        <div class="cbp-l-inline-view-wrap">
            <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a>
        </div>
    </div>
</div>
