<!--
|--------------------------------------------------------------------------
|                                 BLOG POSTS
|--------------------------------------------------------------------------
-->

  <section id="blog-posts">

    <div class="blog-post-1-wrapper">
      <div class="container">
        <div class="row">
        <!-- LEFT CONTAINER & IMAGE -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-left-container">
              <img src="http://placehold.it/350x350">
            </div> <!-- blog-post-left-container -->
          </div> <!-- col -->
        <!-- RIGHT CONTAINER & TEXT -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-right-container">
              <h5>Blog Post Title</h5>
              <span>Author Name |</span><span> April 4, 2016</span>
              <p>Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              <a href="blog-post-single.html">READ MORE <i class="icon-arrows_slim_right"></i></a>
            </div> <!-- blog-post-right-container -->
          </div> <!-- col -->

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- blog-post-1-wrapper -->

    <div class="blog-post-1-wrapper">
      <div class="container">
        <div class="row">
        <!-- LEFT CONTAINER & IMAGE -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-left-container">
              <img src="http://placehold.it/350x350">
            </div> <!-- blog-post-left-container -->
          </div> <!-- col -->
        <!-- RIGHT CONTAINER & TEXT -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-right-container">
              <h5>Blog Post Title</h5>
              <span>Author Name |</span><span> April 4, 2016</span>
              <p>Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              <a href="blog-post-single.html">READ MORE <i class="icon-arrows_slim_right"></i></a>
            </div> <!-- blog-post-right-container -->
          </div> <!-- col -->

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- blog-post-1-wrapper -->


    <div class="blog-post-1-wrapper">
      <div class="container">
        <div class="row">
        <!-- LEFT CONTAINER & IMAGE -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-left-container">
              <img src="http://placehold.it/350x350">
            </div> <!-- blog-post-left-container -->
          </div> <!-- col -->
        <!-- RIGHT CONTAINER & TEXT -->
          <div class="col-sm-12 col-md-6">
            <div class="blog-post-right-container">
              <h5>Blog Post Title</h5>
              <span>Author Name |</span><span> April 4, 2016</span>
              <p>Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              <a href="blog-post-single.html">READ MORE <i class="icon-arrows_slim_right"></i></a>
            </div> <!-- blog-post-right-container -->
          </div> <!-- col -->

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- blog-post-1-wrapper -->

  </section>



