<!--
|--------------------------------------------------------------------------
|                                 BLOG HERO
|--------------------------------------------------------------------------
-->

  <section id="blog-hero">

    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>

      <div class="blog-header-container">
        <div class="blog-header-text-wrapper">
          <h1 class="blog-main-title">Blog</span></h1>
        </div> <!-- blog-header-text -->
      </div> <!-- blog-header-box -->

    </div> <!-- #large-header -->

  </section>


  <script src="scripts/vendor/rAF.js"></script>
  <script src="scripts/vendor/demo-2.js"></script>
