/*
|--------------------------------------------------------------------------
|                                 BLOG POST SINGLE  HERO
|--------------------------------------------------------------------------
*/


section#blog-post-single-hero {
  // height: 100px;
  // background: #f5f5f5;
  // border: 5px solid red;

  /* HEADER
    =============== */
    .blog-post-single-large-header {
      position: relative;
      width: 100%;
      background: #333;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }

    .blog-post-single-large-header {
      background-image: url('../images/hero/demo-2-bg.jpg');
      background-position: center;
    }

    .blog-post-single-header-container {
      // position: absolute;
      height: 50vh;
      width: 100%;
      // top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;
    }

    .blog-post-single-header-text-wrapper {
      width: 25%;
      padding: 1% 2%;
      background: rgba(255,255,255, 0.6);
      outline: 5px solid rgba(255,255,255,.6);
      outline-offset: 10px;
      // border: 5px solid gold;
    }

    .blog-post-single-main-title {
      margin: 0;
      text-align: center;
      // color: #444;
      font-weight: 300;
    }
}


/*
|--------------------------------------------------------------------------
|                                 BLOG POST SINGLE
|--------------------------------------------------------------------------
*/

  section#blog-post-single {
    padding: 5% 0;

    .blog-post-single-left-column-container {

      h5 {
        font-weight: 300;
        margin: 0;
        color: #222;
        padding: 20px 0 10px 0;
      }

      span {
        margin: 20px 0;
        font-weight: 300;
        font-size: 0.8rem;
        color: #7e7e7e;
      }

      p {
        padding: 10px 0;
        font-weight: 300;
        font-size: 1rem;
        color: #7e7e7e;
      }

      .post-prev-next-home-btns-container {
        padding: 4% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ccc;

        a {
          color: #d2d2d2;
          font-weight: 300;
          font-size: 1.2rem;
          text-decoration: none;
          transition: all 0.3s;

          &:hover {
            color: black;
            transition: all 0.3s;
          }
        }
      }
    } /* blog-post-single-left-column-container */

  } /* section#blog-post-single */
