<!--
|--------------------------------------------------------------------------
|                                 CURRICULUM HERO
|--------------------------------------------------------------------------
-->

  <section id="curriculum-hero">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title"><span class="thin">Curriculum</span></h1>
    </div>


  </section>

    <script src="scripts/vendor/TweenLite.min.js"></script>
    <script src="scripts/vendor/EasePack.min.js"></script>
    <script src="scripts/vendor/rAF.js"></script>
    <script src="scripts/vendor/demo-1.js"></script>
