<!--
|==========================================================================
|                                 FOOTER
|==========================================================================-->

  <footer>

    <div class="footer-logo-container">
      <h5><img src="images/logo/black-stars-new.png">AnnieCannons</h5>
    </div> <!-- footer-stars-container -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="footer-address-container">
            <span>AnnieCannons, Inc.</span> <br />
            <span>PO Box 170454</span> <br />
            <span>San Francisco, CA 94117</span>
          </div> <!-- footer-address-container -->
        </div> <!-- /.col -->


        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="footer-social-container">
            <a href="https://twitter.com/anniecannons" target="_blank"><i class="ion ion-social-twitter"></i></a>
            <a href="https://www.facebook.com/AnnieCannons/" target="_blank"><i class="ion ion-social-facebook"></i></a>
            <a href="https://github.com/anniecannons" target="_blank"><i class="ion ion-social-github"></i></a>
          </div> <!-- footer-social-container -->
        </div> <!-- /.col -->


        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="footer-contact-container">
            <div class="footer-phone-wrapper">
              <i class="icon-basic_smartphone"><a href="tel:415.780.4693"> 415.780.4693</a></i>
            </div> <!-- footer-phone-wrapper -->

            <div class="footer-email-wrapper">
              <i class="icon-mail_envelope"><a href="mailto:info@anniecannons.com"> info@anniecannons.com</a></i>
            </div> <!-- footer-email-wrapper -->
            <div class="privacy-policy"><a href="/privacy-policy">Privacy Policy</a></div>
          </div> <!-- footer-contact-container -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </footer>

