<!--==== BOOTSTRAP ====-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!--==== FONT AWESOME ====-->
  <!-- <link rel="stylesheet" href="../bower_components/Font-Awesome/css/font-awesome.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

<!--==== ION ICONS CSS ====-->
  <!-- <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.min.css" /> -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<!--==== ANIMATE CSS ====-->
  <!-- <link rel="stylesheet" href="../bower_components/animate.css/animate.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css"> -->

<!--==== HOVER CSS ====-->
  <!-- You should copy and paste the specific animation you want, instead of using the whole library! -->
  <!-- <link rel="stylesheet" href="../bower_components/hover/css/hover.css" /> -->

<!--==== MAGIC CSS ====-->
  <!-- You should copy and paste the specific animation you want, instead of using the whole library! -->
  <!-- <link rel="stylesheet" href="../bower_components/magic/magic.css" /> -->

<!--==== TIMBER FRAMEWORK CSS ====-->
  <!-- <link rel="stylesheet" type="text/css" href="assets/premium/timber-framework/css/timber.css"> -->

<!--==== MATERIAL DESIGN LITE CSS & ICONS ====-->
  <!-- <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->

<!--==== LIGHT GALLERY CSS ====-->
  <!-- <link rel="stylesheet" href="../bower_components/lightgallery/dist/css/lightgallery.min.css"/> -->

<!--==== SLICK CAROUSEL CSS ====-->
  <link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick-theme.css"/>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css"/> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"/> -->

<!--==== REVOLUTION SLIDER CSS ====-->
  <!-- <link rel="stylesheet" href="assets/premium/slider-revolution/revolution/css/settings.css" /> -->

<!--==== CUBE PORTFOLIO CSS ====-->
  <link rel="stylesheet" href="assets/premium/cubeportfolio/cubeportfolio/css/cubeportfolio.min.css" />

<!--==== JET MEGA-MENU CSS ====-->
  <!-- <link rel="stylesheet" href="assets/premium/jet-mega-menu/files/css/jetmenu.css" /> -->

<!--==== LOREM "DUMMY" TEXT ====-->
  <!-- http://dummytext.com/ -->
  <!-- <script src="http://dummytext.com/dt-1.0.min.js"></script> -->

<!--==== OWL CAROUSEL ====-->
  <link rel="stylesheet" type="text/css" href="assets/owl-carousel/owl.carousel.css">

<!--==== MAIN CSS ====-->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

<!--==== MODERNIZR ====-->
  <!-- <script src="../bower_components/modernizr/modernizr.js"></script> -->

