<!--================
      NAVIGATION OVERLAY
====================-->

  <section id="nav-overlay">

    <!-- <div class="nav-overlay-x-close">
      <a href="#"><span class="glyphicon glyphicon-remove jquery-close" aria-hidden="true"></span></a>
    </div> --> <!-- nav-overlay-x-close -->

<div class="nav-overlay-container">

      <div class="nav-overlay-content-wrapper">
        <div class="nav-overlay-logo-div">
            <!-- <h4>Annie Cannons</h4> -->
        </div> <!-- nav-logo-div -->

        <ul>
          <li><a class="page-scroll" href="/">Home</a></li>
          <li><a class="page-scroll" href="#">Donate</a></li>
          <li><a class="page-scroll" href="">Volunteer</a></li>
          <li><a class="page-scroll" href="">Hire</a></li>
          <li><a class="page-scroll" href="">Partner</a></li>
          <li><a class="page-scroll" href="/curriculum.html">Curriculum</a></li>
          <li><a class="page-scroll" href="/blog.html">Blog</a></li>
          <li><a class="page-scroll" href="">Student Projects</a></li>
          <li><a class="page-scroll" href="">Business Plan</a></li>
        </ul>
      </div> <!-- nav-overlay-content-wrapper -->

    </div> <!-- nav-overlay-container -->

  </section>
