<!--
|==========================================================================
|                                 NAVIGATION
|==========================================================================-->

<nav id="main-nav">
  <div class="main-nav-container">

    <div class="nav-logo-container">
      <a class="page-scroll" href="/"><h6 id="logo"><img src="images/logo/black-stars-new.png">AnnieCannons</h6></a>
    </div> <!-- nav-logo-container -->

    <div class="nav-links-container">
      <ul>
        <li>
          <a href="#">
            <span class="jquery-open" aria-hidden="true">
              <i class="ion ion-navicon"></i>
            </span>
          </a>
        </li>
        <li><a href="" class="top-nav-links">Volunteer</a></li>
        <li><a href="" class="top-nav-links donate-link-nav">Donate</a></li>
      </ul>
    </div> <!-- nav-links-container -->

  </div> <!-- main-nav-container -->
</nav>




