<!--==== jQUERY ====-->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

<!--==== VUE JS ====-->
  <!-- <script src="../bower_components/vue/dist/vue.js"></script> -->
  <!-- <script src="../bower_components/vue/dist/vue.min.js"></script> -->

<!--==== ENQUIRE JS ====-->
  <!-- <script src="../bower_components/enquire/dist/enquire.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.1.2/enquire.min.js"></script> -->

<!--==== FOUNDATION ====-->
  <!-- <script src="../bower_components/foundation-sites/dist/foundation.min.js"></script> -->
  <!-- <script>
  $(document).foundation();
  </script> -->

<!--==== BOOTSTRAP ====-->
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

<!--==== TIMBER FRAMEWORK ====-->
  <!-- <script src="assets/premium/timber-framework/js/timber.master.min.js"></script> -->
  <!-- <script src="assets/premium/timber-framework/js/jquery.tm.swipe.min.js"></script> -->
  <!-- <script src="assets/premium/timber-framework/js/jquery.tm.summit.min.js"></script> -->

<!--==== MATERIAL DESIGN LITE JS ====-->
  <!-- <script src="../bower_components/material-design-lite/material.min.js"></script> -->
  <!-- <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script> -->

<!--==== LIGHT GALLERY JS ====-->
  <!-- <script src="../bower_components/lightgallery/dist/js/lightgallery.min.js"/></script> -->
  <!-- <script src="../bower_components/lightgallery/dist/js/lg-thumbnail.min.js"/></script> -->
  <!-- <script src="../bower_components/lightgallery/dist/js/lg-fullscreen.min.js"/></script> -->

<!--==== SLICK CAROUSEL JS ====-->
  <script src="../bower_components/slick-carousel/slick/slick.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script> -->

<!--==== REVOLUTION SLIDER JS ====-->
  <!-- <script src="assets/premium/slider-revolution/revolution/js/jquery.themepunch.tools.min.js"></script> -->
  <!-- <script src="assets/premium/slider-revolution/revolution/js/jquery.themepunch.revolution.min.js"></script> -->

<!--==== CUBE PORTFOLIO JS ====-->
  <script src="assets/premium/cubeportfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <!-- <script>
    $(document).ready(function() {
      $('#grid-container').cubeportfolio({
        // options
      });
    });
  </script> -->

<!--==== JET MEGA MENU ====-->
  <!-- <script src="assets/premium/jet-mega-menu/files/js/jetmenu.js"></script> -->
  <!-- <script>
    $(document).ready(function(){
      $().jetmenu();
    });
  </script> -->

<!--==== WOW JS ====-->
<!-- <script src="../bower_components/wow/dist/wow.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> -->
<!-- <script>
  new WOW().init();
</script> -->

<!--==== SKROLLR JS ====-->
  <!-- <script src="../bower_components/skrollr/dist/skrollr.min.js"></script> -->

  <!-- <script>
    var s = skrollr.init({
    });
  </script> -->

<!--==== OWL CAROUSEL ====-->
  <script src="assets/owl-carousel/owl.carousel.min.js"></script>

<!--==== CUSTOM JS ====-->
  <script src="scripts/vendor/timeliner.min.js"></script>
  <script src="scripts/main.min.js"></script>


<!--==== GOOGLE ANALYTICS ====-->
  <!-- <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script> -->



