<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="images/team/isaac.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">ISAAC ADAMS</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is a Senior Analyst at Guidewire Software and is responsible for managing Guidewire’s customer- and partner-facing support web properties. Isaac’s background includes entrepreneurship, technology leadership, and consulting positions. Isaac was integral in launching the anniecannons.com website.</div>

        <div class="cbp-l-project-social">
            <a href="https://www.linkedin.com/in/isaacadams"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

