<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="images/team/kristin.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">KRISTIN BREY</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">Kristin Brey is currently the Director of Sales Development at Optimizely. Before pursuing a career in tech sales, she studied International Women’s Health at UC Berkeley and was active in many extracurricular activities focused on women's health and advocacy such as Cal's Sexual Health Education Program and the Vagina Monologues. Kristin helps AnnieCannons build and execute our B2C software sales strategy and provides input on our general communications strategy.</div>

        <div class="cbp-l-project-social">
            <a href="http://www.twitter.com/AysegulYonet"><i class="ion ion-social-twitter-outline"></i></a>
            <a href="https://www.linkedin.com/in/aysegulyonet"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

