<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="images/team/laura.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">LAURA HACKNEY</div>
        <div class="cbp-l-inline-subtitle">COFOUNDER</div>

        <div class="cbp-l-inline-desc">was previously the manager of the Program on Human Rights at Stanford University. She also worked as the Senior Research Associate for Stanford’s Anti-Trafficking Project in the Mekong Sub-Region and was a program associate for the Freeman Spogli Institute’s International Policy Implementation Lab. She holds a Master’s degree from Stanford, a BA from the University of California, Berkeley, and she speaks Mandarin Chinese. In addition to analyzing various forms of human trafficking around the world, she has extensively investigated the specific issue of trafficking Burmese women and children into the marriage market of China. Domestically, she works with the Human Trafficking Task Force within the San Francisco Police Department’s Special Victims Unit and supports the local Bay Area anti-trafficking groups.</div>

        <div class="cbp-l-project-social">
            <a href="https://twitter.com/LHack47"><i class="ion ion-social-twitter-outline"></i></a>
            <a href="http://www.linkedin.com/pub/laura-hackney/98/840/325"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

