<!--
|--------------------------------------------------------------------------
|                                 BLOG POST SINGLE HERO
|--------------------------------------------------------------------------
-->

  <section id="blog-post-single-hero">
    <div class="blog-post-single-large-header" class="large-header">
      <div class="blog-post-single-header-container">
        <div class="blog-post-single-header-text-wrapper">
          <h1 class="blog-post-single-main-title">Post</span></h1>
        </div> <!-- blog-post-single-header-text -->
      </div> <!-- blog-post-single-header-box -->
    </div> <!-- #blog-post-single-large-header -->
  </section>



<!--
|--------------------------------------------------------------------------
|                                 BLOG POST SINGLE
|--------------------------------------------------------------------------
-->

  <section id="blog-post-single">

    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-8">
          <div class="blog-post-single-left-column-container">
            <img src="http://placehold.it/720x445">
            <h5>TITLE OF THE BLOG POST</h5>
            <span>Author Name |</span><span> April 4, 2016</span>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus.</p>

            <div class="post-prev-next-home-btns-container">
              <div class="prev-post">
                <a href="#"><i class="icon-arrows_slim_left"></i> PREVIOUS POST</a>
              </div> <!-- prev-post -->
              <div class="blog-home-icon">
                <a href="#"><i class="icon-home"></i></a>
              </div> <!-- blog-home-icon -->
              <div class="next-post">
                <a href="#">NEXT POST <i class="icon-arrows_slim_right"></i></a>
              </div> <!-- prev-post -->
            </div> <!-- post-prev-next-home-btns-container -->
          </div> <!-- blog-post-single-left-column-container -->
        </div> <!-- col -->

        <div class="col-sm-12 col-md-8">
          <div class="blog-post-single-right-column-container">

          </div> <!-- blog-post-single-right-column-container -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->

  </section>
