/*
|--------------------------------------------------------------------------
|                                 HIRE  HERO
|--------------------------------------------------------------------------
*/


section#hire-hero {
  height: 60vh;
  // background: #f5f5f5;
  overflow: hidden;
  // border: 5px solid red;

  /* HEADER
    =============== */
    .hire-large-header {
      position: relative;
      width: 100%;
      overflow: hidden;
      z-index: 1;
    }

    .hire-video {

    }

    .hire-header-container {
      position: absolute;
      height: 60vh;
      width: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;
    }

    .hire-header-text-wrapper {
      z-index: 9999;
      width: 25%;
      padding: 1% 2%;
      background: rgba(255,255,255, 0.8);
      outline: 5px solid rgba(255,255,255,.8);
      outline-offset: 10px;
      // border: 5px solid gold;
    }

    .hire-main-title {
      margin: 0;
      text-align: center;
      // color: #444;
      font-weight: 300;
    }
}






/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .hire-video {
    display: none;
  }

  .hire-header-container {
    // padding-top: 55px !important;
  }

  .hire-large-header {
    width: 100%;
    height: 60vh;
    background-image: url('../images/hire/bulb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border: 5px solid red;
  }

  .hire-header-text-wrapper {
    width: 50% !important;
    padding: 1% 2%;;
  }

  .hire-main-title {
    font-size: 4rem;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .hire-video {
    display: none;
  }

  .hire-header-container {
    padding-top: 55px !important;
  }

  .hire-large-header {
    width: 100%;
    height: 60vh;
    background-image: url('../images/hire/bulb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border: 5px solid red;
  }

  .hire-header-text-wrapper {
    width: 65% !important;
    padding: 1% 2%;;
  }

  .hire-main-title {
    font-size: 3rem;
  }

}/* SMALL MEDIA QUERY */
