body {
	margin: 0% auto;
	text-align: center;
	font-family: "Open Sans", "open-sans", sans-serif;
	margin: none;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
}

ul > li {
	display: inline-block;
	list-style: none;
}

nav {
	position: absolute;
	top: 30px;
	width: 100%;
	word-spacing: 350px;
	right: 15px;
}

#x {
	color: black;
	font-weight: 400;
	font-family: "Open Sans", "open-sans", sans-serif;
	font-size: 18px;
	text-align: center;
    text-decoration: none;
}

#x:hover {
	color: #f8aa3e;
}

#header{
	margin-bottom: 20px;
}

#black {
	/*background-color: black*/;
	position: relative; 
	width: 1420px;
    height: 620px;
    left: -219px;
}

#hero {
	position: absolute;
	/*margin: 0;
	width: 100%;*/
	width: 1420px;
    height: 620px;
    /*display: block;*/
    top: 0px;
    left: -204px;
    opacity: ;
}

#handle {
	position: absolute;
	top: 75px;
	color: black;
	left: 40%;
	/*left: 100px;*/
	font-family: cursive;	
	font-size: 56px;
	font-weight: bold;
	text-shadow: 2.5px 2.5px #f8aa3e;
}

#about {
	position: absolute;
	left: 5%;
	width: 90%;
	top: 340px;
	font-size: 36px;
	color: black;
	font-family: "Open Sans", "open-sans", sans-serif;
	font-weight: 400;
	text-align: center;
	line-height: 1.2;
	background: rgba(249, 172, 64, 0.8);
}

#quote {
	font-size: 26px;
	color: black;
    font-family: "Open Sans", "open-sans", sans-serif;
	/*background: rgba(10, 10, 10, 0.6);*/
	text-align: center;
	margin: 0% auto;
	width: 90%;
	border-bottom: 2px dashed #2bb59e;
	
}

#rowTwo {
	margin-top: 50px;
	margin-bottom: 20px;
    font-family: "Open Sans", "open-sans", sans-serif;
	font-size: 20px;
}

#love {
	color: #1c78ab;
	width: ;
	text-align: center;
}

#rowThree {
	margin-bottom: 20px;
	font-family: Lucida Console;
	font-size: 20px;
}

#puzzles {
	color: #f4a83d;
	width: ;
	text-align: center;
}

#rowFour {
	margin-bottom: 20px;
    font-family: "Open Sans", "open-sans", sans-serif;
	font-size: 20px;
}

#money {
	color: #2bb59e;
	width: ;
	text-align: center;
}

#sponsor {
	text-align: center;
    font-family: "Open Sans", "open-sans", sans-serif;
}

#allThree {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
    font-family: "Open Sans", "open-sans", sans-serif;
}

.box {
	display: inline-block;
	width: 150px;
	height: 135px;
	border-radius: 10px;
	text-align: center;
	color: white;
	position: relative;
}


#buttonOne {
	background-color: #1c78ab;
	font-size: 22px;
}

#j {
	position: absolute;
	top: 30%;
	left: 7%;
}

#buttonTwo {
	background-color: #f4a83d;
	font-size: 22px;
}

#k {
	position: absolute;
	top: 8%;
	left: 4%;
}

#buttonThree {
	background-color: #2bb59e;
	font-size: 22px;
}

#l {
	position: absolute;
	top: 30%;
	left: 5%;
}

.formsBox{
	margin: 0% auto;
	width: 35%;
	height: 100%;
	padding: 5px 30px;
	border: 2px dashed #f8aa3e;
	margin-bottom: 30px;
}

.form-control {
	margin: 0% auto;
}

#email_ {
	
}

#comment_ {
	width: 300px; 
}